{% extends "base.html" %}
{% block content %}

<div class="box">
	<h1>Value</h1>
    <table class="table">

      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nazwa</th>
          <th scope="col">ISIN</th>
          <th scope="col">Cena</th>
          {% for client in all_clients %}
          <th scope="col">{{client.client_name}}</th>
          {% endfor %}
        </tr>
      </thead>

      <tbody>
        {% for asset in all_assets %}
            <tr>
              <th scope="row">{{ asset.id }}</th>
              <td>{{ asset.asset_name }}</td>
              <td>{{ asset.isin }}</td>
              <td>{{ asset.price }}</td>
              {% for client in all_clients %}
                {% for holding in all_holdings %}
                {% if client.id == holding.client_id and asset.id == holding.asset_id %}
                <td>{{ '{:.2f}'.format(holding.quantity * asset.price, 2) }}</td>
                {% endif %}
                {% endfor %}
              {% endfor %}
            </tr>
        {% endfor %}
        <tr>
          <th scope="row">#</th>
          <td> </td>
          <td>TOTAL NAV</td>
          <td> </td>
          {% for client in all_clients %}
          {% for name in records.keys() %}
            {% if client.client_name == name %}
            <td>{{ '{:.2f}'.format(records[name]) }}</td>
            {% endif %}
          {% endfor %}
          {% endfor %}
        </tr>
      </tbody>
    </table>

</div>

{% endblock %}